div :hover {
    background-color: rgb(143, 129, 127);
    color: rgb(5, 5, 5);
}

a {
    text-decoration: none;
    text-decoration-style: solid;
    font-family:'Times New Roman', Times, serif
    color: rgb(245, 238, 238);
}