.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;
    background-color: #2a2a2a;
}


.flex-box {
    width: 400px;
    height: 300px;
    background: #3EB489;
    font-size: 30px;
    text-align: center;
    line-height: 300px;
    margin: 10px;
    justify-content: center;
}


div :hover {
    background-color: salmon;
    color: black;
}


a {
    text-decoration: none;
    color: white;
}


h1 {
    color: white;
    text-align: center;
}


body {
    background-color: #2a2a2a;
}