h1 {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}


a.button {
    background-color: rgb(131, 131, 131);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Tahoma;
    max-width: 100%;
    align-self: left;
}


#button {
    text-align: center;
}